.PalmSprings, .PalmSprings a {
  color: #F42272;
}
.PalmDesert, .PalmDesert a {
  color: #EFAAC4;
}
.IndianWells, .IndianWells a {
  color: #56A3A6;
}
.RanchoMirage, .RanchoMirage a {
color: #D1ADFF;
}
.CathedralCity, .CathedralCity a {
color: #90EE90;
}
.LaQuinta, .LaQuinta a{
  color:#E49F00;
}
.Indio, .Indio a{
  color: #A30015;
}
.HighDesert, .HighDesert a {
  color: #26C9F2;
}
.CoachellaValley, .CoachellaValley a {
  color: #C1B23E;
}
.DesertHotSprings, .DesertHotSprings a{
  color: #FF7A28;
}
