.PalmSprings, .PalmSprings a {
  color: #F42272;
}
.PalmDesert, .PalmDesert a {
  color: #00ff00;
}
.IndianWells, .IndianWells a {
  color: #56A3A6;
}
.RanchoMirage, .RanchoMirage a {
color: #FF6600;
}
.CathedralCity, .CathedralCity a {
color: #9D00FF;
}
.LaQuinta, .LaQuinta a{
  color:#E49F00;
}
.Indio, .Indio a{
  color: #0062FF;
}
.HighDesert, .HighDesert a {
  color: #26C9F2;
}
.CoachellaValley, .CoachellaValley a {
  color: #C1B23E;
}
.DesertHotSprings, .DesertHotSprings a{
  color: #d600ff;
}
.Idyllwild, .Idyllwild a {
  color: ;
}
