.categoryList li {
  display: inline;
  padding: 15px;
  margin-bottom: 5px;
}
.categoryList2 li {
  display: inline;
  padding: 5em;
}
.line {
  display: block;
   height: 2px;
   border: 0;
   border-top: 1px solid #8CE577;
   margin: 1em 0;
   padding: 0;
   width: 100%;
}

.line2 {
  display: block;
   height: 2px;
   border: 0;
   border-top: 1px solid #1A1BE3;
   margin: 1em 0;
   padding: 0;
   width: 100%;
}


.fixme {
  text-align: center;
}

.categoryTitle {
  text-align: center;
}

.categoryIcons {
  height: 40px;
}
