.btn {
color:black}

.categories {
  overflow: hidden;
  text-align: center;
}

.line {
  display: block;
   height: 2px;
   border: 0;
   border-top: 1px solid #8CE577;
   margin: 1em 0;
   padding: 0;
   width: 100%;
}

.line2 {
  display: block;
   height: 2px;
   border: 0;
   border-top: 1px solid #e49f00;
   margin: 1em 0;
   padding: 0;
   width: 100%;
}




.categoryIcons {
  height: 40px;
}
.compIcons {
  margin-left: 60px;
}

.here:link {
  color:black;
  font-size: 10px;
  margin-left: -10px;
}
/*overlay*/
.crate {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.crate:hover .crate:active .overlay  {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.iconLink, .iconLink:visited, .iconLink:hover {
  color: white;
  text-decoration: none;
}

.fixme {
  margin-left: -10px;
}
.fixme2 {
  margin-left: -30px;
  text-align: center;
}
.fixme3 {
  margin-left: -13px;
}
