.hStyle{
  color: 'white';
}
.artStyle{
  color: '#90ee90';
}
.header {
  background-color: #666;
  padding: 1px 1px 1px 1px;
  text-align: center;
  height: 225px;
  width: 100%;
}

#art {
  color: #8CE577;
}

.lines {
  display: block;
   height: 2px;
   border: 0;
   border-top: 1px solid #8CE577;
   margin: 1em 0;
   padding: 0;
   width: 100%;
}

.lines2 {
  display: block;
   height: 2px;
   border: 0;
   border-top: 1px solid #e49f00;
   margin: 1em 0;
   padding: 0;
   width: 100%;
}
.side {
  padding-top: 20px;
}
.logo {
  width: 500px;
}
.header2 {
  background-color: #666;
  padding: 1px 1px 1px 1px;
  text-align: center;
  height: 330px;
  width: 100%;
}
